<link rel="stylesheet" type="text/css" href="/css/bootstrap-iso.css">
<link rel="stylesheet" href="/css/common.css">

<% if (!numberProducts) const numberProducts = 10 %>

<div class="bootstrap-iso">
	<div class="container">
		<div class="row equal-height-row">
		  <div class="jumbotron background_color col-md-6 pointer" id="view_button_div">
		  	<h1>Visualizar</h1>
		  </div>

		  <div class="jumbotron background_color col-md-6 pointer" id="add_button_div">
		  	<h1>Criar</h1>
		  </div>
	  </div>

	  <div class="row equal-height-row">
		  <div class="jumbotron background_color start_hidden col-md-12" id="query_form_div">
		  	<div id="query_form">
		  		<h1>Formulário de pesquisa</h1>
		  		<select id="view_form_type_selector">
		  			<option value="clientes">Cliente</option>
		  			<option value="filiais">Filial</option>
		  			<option value="funcionarios">Funcionário</option>
		  			<option value="pedidos">Pedidos</option>
		  			<option value="produtos">Produtos</option>
		  		</select>

		  		<p><i>É necessário o preenchimento de pelo menos um campo dos listados abaixo</i></p>

	  			<div id="view_form_container">

	  				<div id="view_form_clientes_div">
	  					<form id="view_clientes" action="/admin/viewQuery" method="POST">
		  					<input type="hidden" name="viewType" value="clientes">
		  					<p>
		  						Nome Contato:
		  						<p><input type="text" name="nomeContato" value=""></p>
		  					</p>
		  					<p>
		  						Nome Empresa:
		  						<p><input type="text" name="nomeEmpresa" value=""></p>
		  					</p>
		  					<p>
		  						Email:
		  						<p><input type="text" name="email" value=""></p>
		  					</p>
		  					<p>
		  						CNPJ:
		  						<p><input type="text" name="cnpj" value=""></p>
		  					</p>
		  					<p>
		  						ID:
		  						<p><input type="text" name="id" value=""></p>
		  					</p>
		  					<button class="btn btn-default view_form_submit" type="submit" value="view_clientes">
							    Pesquisar
							  </button>
	  					</form>
	  				</div>

	  				<div id="view_form_filiais_div" class="start_hidden">
	  					<form id="view_filiais" action="/admin/viewQuery" method="POST">
	  						<input type="hidden" name="viewType" value="filiais">
	  						<p>
		  						Nome:
		  						<p><input type="text" name="nome" value=""></p>
		  					</p>
		  					<p>
		  						Cidade Base:
		  						<p><input type="text" name="cidadeBase" value=""></p>
		  					</p>
		  					<p>
		  						ID:
		  						<p><input type="text" name="id" value=""></p>
		  					</p>
		  					<button class="btn btn-default view_form_submit" type="submit" value="view_clientes">
							    Pesquisar
							  </button>
	  					</form>
	  				</div>

	  				<div id="view_form_funcionarios_div" class="start_hidden">
	  					<form id="view_funcionarios" action="/admin/viewQuery" method="POST">
	  						<input type="hidden" name="viewType" value="funcionarios">
	  						<p>
	  							Nome:
	  							<p><input type="text" name="nome" value=""></p>
		  					</p>
		  					<p>
		  						Email:
		  						<p><input type="text" name="email" value=""></p>
		  					</p>
		  					<p>
		  						RG:
		  						<p><input type="text" name="cnpj" value=""></p>
		  					</p>
		  					<p>
		  						CPF:
		  						<p><input type="text" name="cpf" value=""></p>
		  					</p>
		  					<p>
		  						ID:
		  						<p><input type="text" name="id" value=""></p>
		  					</p>
		  					<button class="btn btn-default view_form_submit" type="submit" value="view_funcionarios">
							    Pesquisar
							  </button>
	  					</form>
	  				</div>

	  				<div id="view_form_pedidos_div" class="start_hidden">
	  					<form id="view_pedidos" action="/admin/viewQuery" method="POST">
	  						<input type="hidden" name="viewType" value="pedidos">
	  						<p>
	  							Código de Pedido:
	  							<p><input type="text" name="id" value=""></p>
		  					</p>
		  					<button class="btn btn-default view_form_submit" type="submit" value="view_pedidos">
							    Pesquisar
							  </button>
	  					</form>
	  				</div>

	  				<div id="view_form_produtos_div" class="start_hidden">
	  					<form id="view_produtos" action="/admin/viewQuery" method="POST">
	  						<input type="hidden" name="viewType" value="produtos">
	  						<p>
		  						Nome:
		  						<p><input type="text" name="nome" value=""></p>
		  					</p>
		  					<p>
		  						Código de Produto:
		  						<p><input type="text" name="id" value=""></p>
		  					</p>
		  					<button class="btn btn-default view_form_submit" type="submit" value="view_produtos">
							    Pesquisar
							  </button>
	  					</form>
	  				</div>

	  			</div>
		  	</div>
		  </div>
		</div>

		<div class="row equal-height-row">
		  <div class="jumbotron background_color start_hidden col-md-12" id="add_form_div">
	  		<h1>Formluario de criacao</h1>
	  		<select id="create_form_type_selector">
	  			<option value="clientes">Cliente</option>
	  			<option value="filiais">Filial</option>
	  			<option value="funcionarios">Funcionário</option>
	  			<option value="pedidos">Pedidos</option>
	  			<option value="produtos">Produtos</option>
	  		</select>

	  		<p><i>É necessário o preenchimento de todos os campos listados abaixo</i></p>

  			<div id="create_form_container">

  				<div id="create_form_clientes_div">
  					<form id="create_clientes" action="/admin/create" method="POST">
	  					<input type="hidden" name="viewType" value="clientes">
	  					<p>
	  						Nome Contato:
	  						<p><input type="text" name="nomeContato" value=""></p>
	  					</p>
	  					<p>
	  						Nome Empresa:
	  						<p><input type="text" name="nomeEmpresa" value=""></p>
	  					</p>
	  					<p>
	  						Endereço:
	  						<p><input type="text" name="endereco" value=""></p>
	  					</p>
	  					<p>
	  						Telefone:
	  						<p><input type="text" name="telefone" value=""></p>
	  					</p>
	  					<p>
	  						Email:
	  						<p><input type="text" name="email" value=""></p>
	  					</p>
	  					<p>
	  						CNPJ:
	  						<p><input type="text" name="cnpj" value=""></p>
	  					</p>
	  					<button class="btn btn-default create_form_submit" type="submit" value="create_clientes">
						    Criar
						  </button>
  					</form>
  				</div>

  				<div id="create_form_filiais_div" class="start_hidden">
  					<form id="create_filiais" action="/admin/create" method="POST">
  						<input type="hidden" name="viewType" value="filiais">
  						<p>
	  						Nome:
	  						<p><input type="text" name="nome" value=""></p>
	  					</p>
	  					<p>
	  						Cidade Base:
	  						<p><input type="text" name="cidadeBase" value=""></p>
	  					</p>
	  					<p>
	  						Endereço:
	  						<p><input type="text" name="endereco" value=""></p>
	  					</p>
	  					<p>
	  						Telefone:
	  						<p><input type="text" name="telefone" value=""></p>
	  					</p>
	  					<p>
	  						Email do Responsável:
	  						<p><input type="text" name="emailFuncionario" value=""></p>
	  					</p>
	  					<button class="btn btn-default create_form_submit" type="submit" value="create_filiais">
						    Criar
						  </button>
  					</form>
  				</div>

  				<div id="create_form_funcionarios_div" class="start_hidden">
  					<form id="create_funcionarios" action="/admin/create" method="POST">
  						<input type="hidden" name="viewType" value="funcionarios">
  						<p>
	  						Nome:
	  						<p><input type="text" name="nome" value=""></p>
	  					</p>
	  					<p>
	  						Endereço:
	  						<p><input type="text" name="endereco" value=""></p>
	  					</p>
	  					<p>
	  						Telefone:
	  						<p><input type="text" name="telefone" value=""></p>
	  					</p>
	  					<p>
	  						Email:
	  						<p><input type="text" name="email" value=""></p>
	  					</p>
	  					<p>
	  						RG:
	  						<p><input type="text" name="cnpj" value=""></p>
	  					</p>
	  					<p>
	  						CPF:
	  						<p><input type="text" name="cpf" value=""></p>
	  					</p>
	  					<p>
	  						Data de Nascimento:
	  						<p><input type="text" name="dataNasc" value=""></p>
	  					</p>
	  					<p>
	  						Senha:
	  						<p><input type="password" name="senha" value=""></p>
	  					</p>
	  					<button class="btn btn-default create_form_submit" type="submit" value="create_funcionarios">
						    Criar
						  </button>
  					</form>
  				</div>

  				<div id="create_form_pedidos_div" class="start_hidden row equal-height-row">
  					<div class="col-md-6">
	  					<form id="create_pedidos" action="/admin/create" method="POST">
	  						<input type="hidden" name="viewType" value="pedidos">
	  						<p>
		  						Email do Cliente:
		  						<p><input type="text" name="emailCliente" value=""></p>
		  					</p>
		  					<p>
		  						Email do Funcionário Responsável:
		  						<p><input type="text" name="emailFuncionario" value=""></p>
		  					</p>
		  					<p>
		  						Cidade Base:
		  						<p><input type="text" name="cidadeBase" value=""></p>
		  					</p>

	  						<% for (var productNumber = 0; productNumber < numberProducts; productNumber++) { %>
	  						<p><i>Produto nº <%= productNumber + 1 %></i></p>
	  						<p>
	  							Nome:
	  							<p><input type="text" name="produto_<%= productNumber %>" value=""></p>
		  					</p>
		  					<p>
	  							Quantidade:
	  							<p><input type="text" name="quantidade_<%= productNumber %>" value=""></p>
		  					</p>
		  					<% } %>
		  					<button class="btn btn-default create_form_submit" type="submit" value="create_pedidos">
							    Criar
							  </button>
	  					</form>
  					</div>
  					<div class="col-md-6">
  						<p>Lista de Produtos Disponíveis:</p>
  						<ul>
  						<% if(availableProducts) { availableProducts.forEach(function (product) { %>
  							<li><%= product %></li>
  						<% })} else { %>
  							<italic>Estoque vazio</italic>
  						<% } %>
  						</ul>
  					</div>
  				</div>

  				<div id="create_form_produtos_div" class="start_hidden">
  					<form id="create_produtos" action="/admin/create" method="POST">
  						<input type="hidden" name="viewType" value="produtos">
  						<p>
	  						Nome:
	  						<p><input type="text" name="nome" value=""></p>
	  					</p>
	  					<p>
	  						Tamanho:
	  						<p><input type="text" name="tamanho" value=""></p>
	  					</p>
	  					<p>
	  						Material:
	  						<p><input type="text" name="material" value=""></p>
	  					</p>
	  					<p>
	  						Preço:
	  						<p><input type="text" name="preco" value=""></p>
	  					</p>
	  					<button class="btn btn-default create_form_submit" type="submit" value="create_produtos">
						    Criar
						  </button>
  					</form>
  				</div>

  			</div>
		  </div>
		</div>

		<div class="row equal-height-row">
		  <div class="jumbotron background_color start_hidden col-md-12" id="add_result_div">
		  	<h1>Resultado da criacao</h1>
		  	<div></div>
		  </div>
		</div>

	</div>
</div>

<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/admin-screen.js"></script>