<div class="bootstrap-iso">
	<div class="container">
		<div class="row equal-height-row">
		  <div class="jumbotron start_hidden col-md-12" id="query_view_div">
		    <h1>Area de visualizacao</h1>
		  </div>
		</div>
	</div>
</div>