.container {
	font-family: 'Open sans', sans-serif !important;	
}
.center-div {
  float: none;
	margin: 0 auto 0;
}
.equal-height-row {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.rel-position {
	position : relative;
}
.form-down {
	position: absolute;
	bottom: 0;
}
.text-box {
	margin: 20 auto
}
.start_hidden{
	display: none;
}
.pointer {
	cursor: pointer;
}

.background_color {
	background-color: #C8DAF7 !important;
}

h1 { 
	font-weight: 300 !important; 
	font-size: 38px !important; 
	margin: 0px 0px 0px 0px !important; 
	line-height: 120% !important; 
	font-family: 'Open sans', sans-serif !important;
	text-align: center !important;
}
h2 { 
	font-weight: 300 !important; 
	font-size: 24px !important; 
	margin: 0px 0px 0px 0px !important; 
	line-height: 120% !important; 
	font-family: 'Open sans', sans-serif !important;
}
h3 { 
	font-weight: 300 !important; 
	font-size: 14px !important; 
	margin: 0px 0px 0px 0px !important; 
	line-height: 120% !important; 
	font-family: 'Open sans', sans-serif !important;
}

select {
	margin: 40px 0 40px 0 !important;
	font-family: sans-serif !important;
	font-size: 25px !important;
}